footer {
    padding: 3rem 0;
    width: 100%;
    background-color: var(--background-secondary);
}

.footer-container {
    margin: 0 auto;
    padding: 0 4rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

footer p {
    color: var(--text-primary);
    font-size: 1.4rem;
}

.footer-icons {
    align-items: center;
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-top: 1rem;
}

.footer-icons a {
    color: #fff;
    font-size: 2.3rem;
}

.footer-icons a:hover {
    color: var(--text-dark);
}

@media (max-width: 769px) {
    footer {
        padding: 2rem 0;
    }

    .footer-container {
        flex-direction: column;
        gap: 2rem;
        padding: 0 2rem;
    }

    .footer-icons {
        margin-top: 0;
    }
}