/* Colors used */
:root {
    /* Background Colors */
    --background-primary: #222; /* Dark background */
    --background-secondary: #ab3a47; /* Slightly lighter background */
    --background-light: #e8eae3; /* Light background */
    --background-white: #f2f2f2; /* White background */

    /* Text Colors */
    --text-primary: #fff; /* White text */
    --text-secondary: #888; /* Subtle gray text */
    --text-dark: #373833; /* Dark text */

    /* Accent Colors */
    --accent-primary: #ab3a47;
}

* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--background-light);
}
