/* Colors used */
:root {
    /* Background Colors */
    --background-primary: #222; /* Dark background */
    --background-secondary: #333; /* Slightly lighter background */
    --background-light: #fff; /* Light background */

    /* Text Colors */
    --text-primary: #fff; /* White text */
    --text-secondary: #888; /* Subtle gray text */
    --text-dark: #222; /* Dark text */

    /* Accent Colors */
    --accent-primary: #964B00; /* Coffee-inspired accent color */
    --accent-secondary: #FFD700; /* Gold accent color (for highlights) */
}

* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--background-light);
}
