header {
    align-items: center;
    background-color: var(--background-secondary);
    color: var(--text-primary);
    box-shadow: 0 0 10px rgba(0,0,0,1);
    display: flex;
    height: auto;
    justify-content: space-between;
    padding: 25px 40px 25px 50px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 3;
}

header > .logo {
    margin-left: 5rem;
    font-size: 1.7rem;
    font-weight: normal;
}

header > ul {
    display: flex;
    gap: 2rem;
    text-decoration: none;
    margin-right: 10rem;
}

header > ul > li > a {
    color: var(--text-primary);
    text-decoration: none;
    font-weight: lighter;
    font-size: 1.5rem;
}

header ul li a:hover {
    color: var(--text-dark);
}

header h3  i {
    margin-right: 1rem;
}

.mobile-menu-button {
    display: none; /* Initially hidden on larger screens */
    flex-direction: column;
    cursor: pointer;
}

.mobile-menu-button i {
    font-size: 1.7rem;
    color: var(--text-primary);
}

/* Mobile menu */
.mobile-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: -110%; /* Start off-screen to the left */
    width: 100%; /* Adjust the width as needed */
    height: 100%;
    background-color: var(--background-light);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all .3s ease-in-out;
    z-index: 4;
}

.mobile-menu.active {
    display: flex;
    left: 0;
}

.mobile-menu ul {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    list-style: none;
    padding: 0;
}

.mobile-menu li {
    padding: 15px;
}

.mobile-menu i {
    position: absolute;
    top: 2.5rem; /* Adjust the top position as needed */
    right: 3rem; /* Adjust the right position as needed */
    font-size: 2rem;
    cursor: pointer;
    background: none;
}

.mobile-menu a {
    text-decoration: none;
    color: var(--accent-primary);
    font-size: 2.5rem;
    font-weight: lighter;
}

/* Media query for screens below 900px */
@media (max-width: 600px) {
    header {
        padding: 25px 0;
        width: 100%;
    }

    .mobile-menu-button {
        display: flex; /* Show the mobile menu button */
        margin-right: 3rem;
    }

    .mobile-menu-button i:hover {
        color: var(--accent-primary);
    }

    header > ul {
        display: none;
    }

    /* Show the mobile menu when the button is clicked */
    .mobile-menu.active {
        display: flex;
        justify-content: center;
        align-items: center;
        left: 0; /* Slide the menu into view */
    }

    .active a {
        text-decoration: none;
        color: var(--accent-primary);
        font-size: 2.5rem;
        font-weight: lighter;
    }

    .active a:hover, .mobile-menu.active i:hover {
        color: var(--accent-primary);
    }

    .mobile-menu.active i {
        display: block;
        font-size: 2.3rem;
        color: var(--accent-primary);
    }
}

